<ol class="post-list">
    {{#each posts as |post|}}
  <li>
    {{!-- to use a partial use the following format {{> partial file name object being passed to partial}} --}}
    {{> post-info post}}
  </li>
  {{/each}}
</ol>